body{
	background: url("../images/background.jpeg") no-repeat center center fixed; 
	-webkit-background-size: cover; 
	-moz-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}


.col-sm {
  display: flex; /* or inline-flex */
  border: 2px solid black;
  height: 25%;
  justify-content: space-evenly;
  flex: 5;
}

.box {
  display: flex;
  border-right: 2px solid black;
  justify-content: center;
  align-items: center;
  flex: 1;
  background: url("../images/0.png");
}

.col-sm, box {
  padding: 0;
}

.end {
  border-right: none;
}

.btn {
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  padding: 6px 30px;
  color: white;
  border: none;
  outline: none;
  background-color: white;
}

.button-section {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-top: 15px;
  flex: 1;
}

/* On mouse-over */
.btn:hover {background: #eee;}

.attack {color: green;}
.endGame {color: black;}

.control-panel {
  display: flex; /* or inline-flex */
  border: 2px solid black;
  height: 25%;
  justify-content: center;
  flex: 5;
}

.game-score {
  display: flex;
  flex: 2;
}

.score {
  color: #eee;
  font-weight: 500;
}

.game-score > .content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-section {
display: flex;
justify-content: flex-start;
}

#player {
  display: none;
}